%br
%br
.container.categories
  .row
    .col-xs-3
      = render 'menu'
    .col-xs-9
      %h4= @category.title
      .row
        - @category.children.each do |child|
          .service-block.col-xs-4
            .thumbnail
              - child.manufacturers.each do |manufacturer|
                = link_to category_path(id: child.id), class: "stylish" do
                  %span.icon
                    - manufacturer.manufacturer_pictures.each do |manufacturer_picture|
                      /%img{alt: "post one", src: "/img/wash/logo1.png", class: ""}
                      = image_tag manufacturer_picture.picture.url(:preview100x100)
              .clearfix
              %br
              - child.category_pictures.each do |category_picture|
                = image_tag category_picture.picture.url(:preview100x100)
              .clearfix
              %h5= child.title
  .clearfix    
  %br
  %br
  %br
