.container.products
  %br  
  .row
    .span6
      .row
        - @category.manufacturers.each do |manufacturer|
          .span6        
            .contact-box{style: "background: none;"}
              .arrow-circle{style: "background: url(#{manufacturer.manufacturer_pictures.first.picture.url(:preview50x50, timestamp: false)});background-repeat: no-repeat;background-position: 50%;background-color: white;"}
              .circleright
              %h4{style: "font-family: Allan;"}= manufacturer.title
    .span6
      .right-heading
        /.text
        %h4= @category.title
  .clear
  %br
  %br
  .row
    .container.clearfix
      .row
        - @category.products.each do |product|
          .service-block.span3{style: "border-radius: 5px;border: 1px solid #ccc;margin-bottom: 30px;height: 470px;background: white;"}
            .style
              = link_to "#", class: "stylish" do
                %span.icon
                  /%img{alt: "post one", src: "/img/wash/logo1.png", class: ""}
                  - if product.brand.brand_pictures.first
                    = image_tag product.brand.brand_pictures.first.picture.url(:preview100x100)
              %a.halfCircleBottom
            %h5= product.title
            = image_tag product.product_pictures.first.picture.url(:preview200x200)
            %br
            = product.short_description.lstrip.html_safe
    .clearfix    
    %br
    %br
    %br
