.container.products
  .row
    - @category.manufacturers.each do |manufacturer|
      .span6
        .recent-blog
          .post
            .comment-cout
              /%h5.date 20
              /.clear
              /%h6.month June
              
              .style
                %span.icon
                  /%img{alt: "post one", src: "/img/wash/logo1.png", class: ""}
                  = image_tag manufacturer.manufacturer_pictures.first.picture.url(:preview100x100)
            .halfCircleright
            .containt
              %h4= manufacturer.title
              /%p Fusce congue eleifend ante, quis rutrum augue euismod id. Vivamus vitae erat sed sapien.
              /%a.icon-arrow-right.read{href: "http://unolution.com/en/#"}
    .span6
      .inner-heading
      .txt
        %h4= @category.title
  .clear
  %br
  %br
  .row
    .container.clearfix
      .row
        - @category.products.each do |product|
          .service-block.span3{style: "border-radius: 5px;border: 1px solid #ccc;margin-bottom: 30px;height: 470px;background: white;"}
            .style
              = link_to "#", class: "stylish" do
                %span.icon
                  /%img{alt: "post one", src: "/img/wash/logo1.png", class: ""}
                  - if product.brand.brand_pictures.first
                    = image_tag product.brand.brand_pictures.first.picture.url(:preview100x100)
              %a.halfCircleBottom
            %h5= product.title
            = image_tag product.product_pictures.first.picture.url(:preview200x200)
            %br
            = product.short_description.lstrip.html_safe
    .clearfix    
    %br
    %br
    %br
