.container
  %br
  .row
    .col-xs-9
      /.inner-heading
      /  .txt
      /    %h3 Последнии новости
      .recent-blog       
        .post
          .comment-cout
            %h5.date= @page.created_at.day
            .clear
            %h6.month= @page.created_at.to_date.strftime("%b")
          .containt
            %h4= @page.title
            - unless @page.full_content.blank?
              %p= @page.full_content.html_safe
            /%a.icon-arrow-right.read{href: "#"}
            .clearfix
    
  %hr
  .row
    .col-xs-6
      .inner-heading
        .txt
          %h3 Последнии новости
      .recent-blog
        - Category.find_by_identificator('news').pages.order("created_at DESC").limit(3).each do |page|
          = link_to "/pages/#{page.id}" do
            .post
              .comment-cout
                %h5.date= page.created_at.day
                .clear
                %h6.month= page.created_at.to_date.strftime("%b")
              .containt
                %h4{style: "color: #444;"}= page.title
                - unless page.short_content.blank?
                  %span{style: "color: #444;"}
                    = page.short_content.html_safe
                /%a.icon-arrow-right.read{href: "#"}
                .clearfix