%br
%br
.container.products
  .row
    %section.blog.col-xs-8
      .pull-left
        - if @brand.brand_pictures.first
          = image_tag @brand.brand_pictures.first.picture.url(:preview100x100)
      %h4= @brand.title
    %aside#sidebar.col-xs-4
      = @brand.full_description
  .clearfix
  %br
  %hr
  %br

  %div
    .clearfix
    .row
      - @brand.products.each do |product|
        .service-block.col-xs-4
          .thumbnail{"data-target" => "#product-dialog-#{product.id}", "data-toggle" => "modal"}
            = link_to "#", class: "stylish" do
              %span.icon
                /%img{alt: "post one", src: "/img/wash/logo1.png", class: ""}
                - if product.brand.brand_pictures.first
                  = image_tag product.brand.brand_pictures.first.picture.url(:preview100x100)
            .wr-img
              - product.product_pictures.each do |product_picture|
                = image_tag product_picture.picture.url(:preview200x200)
            .clearfix
            %h5= product.title
            = product.short_description.lstrip.html_safe
        .modal.fade{id: "product-dialog-#{product.id}", "aria-hidden" => "true", "aria-labelledby" => "myModalLabel", role: "dialog", tabindex: "-1"}
          .modal-dialog
            .modal-content
              .modal-header
                %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
                /.pull-left
                /  - @category.manufacturers.each do |manufacturer|
                /    = image_tag manufacturer.manufacturer_pictures.first.picture.url(:preview50x50, timestamp: false)
                %h4#myModalLabel.modal-title= @brand.title
              .modal-body
                .row
                  .col-md-4.text-center
                    .stylish
                      %span.icon
                        /%img{alt: "post one", src: "/img/wash/logo1.png", class: ""}
                        - if product.brand.brand_pictures.first
                          = image_tag product.brand.brand_pictures.first.picture.url(:preview100x100)
                    %br
                    - product.product_pictures.each do |product_picture|
                      = image_tag product_picture.picture.url(:preview200x200)
                  .col-md-8
                    %br
                    %h3= product.title
                    = product.full_description.lstrip.html_safe
                %hr
                .pull-left
                  Артикул:
                  = product.identificator
                .clearfix
  .clearfix    
  %br
  %br
  %br

//
