%br
%br
%br
%footer#footer
  .container
    .row
      .footer-widget.col-xs-2
        %h4 Страницы
        .clear
        %ul.list
          %li
            = link_to "Главная", "/"
          %li
            = link_to "О компании", "/#about"
          %li
            = link_to "Новости", "/pages/news#news"
          %li.active
            = link_to "Продукция", "/pages/products#products"
          %li
            = link_to "Дистрибьюторы", "/pages/distributors#distributors"
          %li
            = link_to "Контакты", "/#contacts"
      .footer-widget.col-xs-6.flicker
        %h4 Вы можете связаться с нами
        .clear
        Если у Вас есть вопросы, или Вы хотите проконсультироваться по какому-то конкретному товару, мы всегда готовы предоставить любую информацию, которая поможет сделать покупку. Получить консультацию можно по телефону или через форму обратной связи.
        //
        %address
          %strong Якісний продукт плюс.
          %br/
          29000, м. Хмельницький, 
          %br/
          Львовское шосе 12,
          %br/
          %abbr{title: "Phone"} P:
          038-270-8700
          %br/
          0673800484
          %br/
          %a{href: "mailto:#"} info@qpp.com.ua
          
      .footer-widget.col-xs-4.contact-widget
        %h4 Задайте нам вопрос
        .clear
        %p Если у Вас есть вопросы, или Вы хотите проконсультироваться по какому-то конкретному товару
        %a{href: "/pages/contacts#contact", class: "btn btn-success btn-lg btn-block"} Задать вопрос

.copy
  .container
    .row
      © 2014 Якісний продукт плюс , All rights reserved.
%br
%br