//.scroll
.sub-head-wrapper
  .container
    = render "layouts/subhead"
  .clearfix
//
%nav.navbar.navbar-default{role: "navigation"}
  //.container-fluid
  .container
    / Brand and toggle get grouped for better mobile display
    .navbar-header
      %button.navbar-toggle{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", type: "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{href: "/"} Якісний продукт плюс
    / Collect the nav links, forms, and other content for toggling
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      %ul.nav.navbar-nav.navbar-right
        %li
          = link_to "О компании", "/pages/about"
        %li
          = link_to "Новости", "/pages/news#news"
        %li
          = link_to "Продукция", category_path(id: Category.find_by_identificator('products').id)
        %li
          = link_to "Дистрибьюторы", "/pages/distributors#distributors"
        %li
          = link_to "Контакты", "/pages/contacts"
    / /.navbar-collapse
  / /.container-fluid
//
.l-f{style: "min-height: 2px;background: #00a750;"}
.clear
.l-f{style: "min-height: 3px;background: #ffffff;"}
.clear
.l-f{style: "min-height: 2px;background: #E93940;"}
.clear