!!!
%html.js.csstransitions
  %head
    %title Якісний продукт плюс
    = stylesheet_link_tag    "application_front_manifest", media: "all", "data-turbolinks-track" => true
    
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}/
    = stylesheet_link_tag    "application_front_manifest", media: "all", "data-turbolinks-track" => true
    
    = javascript_include_tag "application_manifest", "data-turbolinks-track" => true
    = javascript_include_tag "application_front_manifest", "data-turbolinks-track" => true
    
    
    = csrf_meta_tags
  %body
    = render "layouts/header"
    = yield
    = render "layouts/footer"
    .clearfix
