!!!
%html.js.csstransitions
  %head
    %title Якісний продукт плюс
    = stylesheet_link_tag    "application_front_manifest", media: "all", "data-turbolinks-track" => true
    
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}/
    = stylesheet_link_tag    "application_front_manifest", media: "all", "data-turbolinks-track" => true
    
    %link{href: "http://unolution.com/en/css/jquery.bxslider.css", rel: "stylesheet"}/
    %link{href: "http://unolution.com/en/css/menu.css", rel: "stylesheet"}/
    %link{href: "http://unolution.com/en/css/jquery.fancybox.css", rel: "stylesheet"}/
    %link#menu-b{href: "http://unolution.com/en/css/menu-b.css", rel: "stylesheet"}/
    %link#skin{href: "http://unolution.com/en/css/green.css", rel: "stylesheet"}/

    
    = javascript_include_tag "application_manifest", "data-turbolinks-track" => true
    = javascript_include_tag "application_front_manifest", "data-turbolinks-track" => true
    
    
    = csrf_meta_tags
  %body
    = render "layouts/header"
    = yield
    = render "layouts/footer"
    .clearfix
