!!!
%html
  %head
    %title Якісний продукт плюс
    = stylesheet_link_tag    "application_front_manifest", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application_manifest", "data-turbolinks-track" => true
    = javascript_include_tag "application_front_manifest", "data-turbolinks-track" => true
    //%link{href: "http://fonts.googleapis.com/css?family=Playfair+Display|Play&subset=latin,cyrillic", rel: "stylesheet", type: "text/css"}
    = csrf_meta_tags
  %body#to_the_top
    %nav.navbar.navbar-default{role: "navigation"}
      / Brand and toggle get grouped for better mobile display
      .container
        = link_to "Якісний продукт плюс", root_path, id: "logo", class: "navbar-brand"      
        .navbar-header
          %button.navbar-toggle{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", type: "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
        / Collect the nav links, forms, and other content for toggling
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          %ul#nav.nav.navbar-nav.smooth.navbar-right
            %li
              = link_to "Главная", "/"
            %li
              = link_to "О компании", "/#about"
            %li
              = link_to "Новости", "/pages/news#news"
            %li.active
              = link_to "Продукция", "/pages/products#products"
            %li
              = link_to "Дистрибьюторы", "/pages/distributors#distributors"
            %li
              = link_to "Контакты", "/#contacts"                    
    .clearfix
    = yield
    .clearfix
    #footerwrap
      .container
        .copy
          %a.footer-brend{href: "/"} Якісний продукт плюс
          © 2013
          %br
          %br
  
    //javascript
    :javascript
      //$(document).ready(function() {
      //  $('#nav').onePageNav({
      //    currentClass: 'active',
      //    changeHash: false,
      //    scrollSpeed: 750,
      //    scrollOffset: 70,
      //    scrollThreshold: 0.5
      //  });
      //});
